body {
   
font-family: 'Francois One', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Source Serif Pro', serif;
background-color: skyblue;
}
nav {
    /* width: 100%; */
    background-color: #222f3e;    
}

nav ul {
    color: aliceblue;
    width: 90%;
    max-width: 1100px;    
    margin: auto;
    font-size: 0;
    /* display: inline;
    text-align: center; */ 
}

nav ul li {
    padding: 10px 20px;
    display: inline-block;
    border-right: 1px solid rgba(200, 214, 229,0.9);
    cursor: pointer;
    font-size: 16px;
    /* margin-bottom: 4px; */
}
nav li:hover {
    border-bottom: 4px solid rgba(95, 39, 205,1.0);
    padding-bottom: 6px;
    /* margin-bottom: -4px; */
}
main {
    width: 90%;
    max-width: 1100px;
    margin: 80px auto 0px auto;
    font-size: 0;
}
article {
    background-color: whitesmoke;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}
article h1{
    font-size: 24px;
    font-weight: 600;
    line-height: 15px;
}
article p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
article:nth-of-type(6n + 2),
article:nth-of-type(6n + 3) {
    width: 49%;
}
article:nth-of-type(6n + 2) {
    margin-right: 2%;
}
article:nth-of-type(6n + 4),
article:nth-of-type(6n + 5),
article:nth-of-type(6n + 6) {
    width: 32%;
}
article:nth-of-type(6n + 4),
article:nth-of-type(6n + 5) {
    margin-right: 2%;
}
.nofont {
    font-size: 0px;
}
.nofont * {
    font-size: 0px;
}

.withrightspace {
    margin-right: 2%;
}

.thirdwidth {
    width: 32%;
}